
NET "sys_clk" LOC = P55;
NET "key" LOC = P51;

NET "sys_clk" IOSTANDARD = LVCMOS33;
NET "key" IOSTANDARD = LVCMOS33;

NET "io_pulseOut_a" LOC = P87;
NET "io_pulseOut_b" LOC = P92;
NET "io_pulseOut_c" LOC = P94;
NET "io_pulseOut_d" LOC = P97;

NET "io_pulseOut_a" IOSTANDARD = LVCMOS33;
NET "io_pulseOut_b" IOSTANDARD = LVCMOS33;
NET "io_pulseOut_c" IOSTANDARD = LVCMOS33;
NET "io_pulseOut_d" IOSTANDARD = LVCMOS33;

# 设置驱动强度
NET "io_pulseOut_a" DRIVE = 16;
# 设置驱动强度
NET "io_pulseOut_b" DRIVE = 16;
# 设置驱动强度
NET "io_pulseOut_c" DRIVE = 16;
# 设置驱动强度
NET "io_pulseOut_d" DRIVE = 16;


#NET "led[7]" LOC = P81;
#NET "led[6]" LOC = P82;
NET "led[5]" LOC = P75;
NET "led[4]" LOC = P62;
NET "led[3]" LOC = P59;
NET "led[2]" LOC = P58;
NET "led[1]" LOC = P57;
NET "led[0]" LOC = P56;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2024/10/29
#NET "sys_clk" TIG;
NET "sys_clk" TNM_NET = "sys_clk";
TIMESPEC TS_sys_clk = PERIOD "sys_clk" 20 ns HIGH 50 %;
OFFSET = IN 20 ns VALID 20 ns BEFORE "sys_clk";

NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;


# PlanAhead Generated IO constraints 

NET "io_pulseOut_a" SLEW = FAST;
NET "io_pulseOut_b" SLEW = FAST;
NET "io_pulseOut_d" SLEW = FAST;
NET "io_pulseOut_c" SLEW = FAST;
